<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>商品情報入力</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
	<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js">
    </script>
  </head>

  <body>

    <!-- Page Content -->
    <div class="container" id="inputPage">

      <div class="row">
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <div class="card-body">
              <h3 class="card-title">Name</h3>
                <input type="text" class="form-control" id="product_name">
            </div>
            <div class="card-body">
              <h3 class="card-title">Detail</h3>
				<textarea class="form-control" rows="5" id="description"></textarea>
            </div>
            <div class="card-body">
              <h3 class="card-title">Price</h3>
                <input type="text" class="form-control" id="price"> 
                <div class="checkbox">
  					<label><input id="showPrice" type="checkbox" value="">価格表示</label>
				</div>
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              画像アップロード
            </div>
            <div class="card-body">
              <input id="src" type="file" name="files[]" multiple>
              <div id="files" class="files"></div>
            </div>
          </div>
          <!-- /.card -->
          <input type="submit" class="btn btn-info" value="Preview" id="btnPreview">
        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->
	<div class="container" id="previewer">
	</div>

	<input type="submit" class="btn btn-info" value="Export PDF" display="none" id="btnExport">



	<script id="hidden-template" type="text/x-custom-template">
		  <div class="row">
		    <div class="col-sm-2 card card-outline-secondary my-4 card-header"><h5>Name</h5></div>
		    <div class="col-sm-10 card card-outline-secondary my-4 card-body"><h5>{{name}}</h5></div>
		  </div>
		  <div class="row">
		    <div class="col-sm-2 card card-outline-secondary my-4 card-header"><h5>Detail</h5></div>
		    <div class="col-sm-10 card card-outline-secondary my-4 card-body"><h5>{{description}}</h5></div>
		  </div>
		  {{#if isShowPrice}}
		  <div class="row">
		    <div class="col-sm-2 card card-outline-secondary my-4 card-header"><h5>Price</h5></div>
		    <div class="col-sm-10 card card-outline-secondary my-4 card-body">{{price}}</div>
		  </div>
		  {{/if}}
		  {{#each images}}
		  <div class="row">
			  <div class="col-md-6">
			    <div class="thumbnail" style ="padding:20px;">
			        <img src="{{this.image1}}">
			    </div>
			  </div>
			  <div class="col-md-6">
			    <div class="thumbnail" style ="padding:20px;">
			        <img src="{{this.image2}}">
			    </div>
			  </div>
		  </div>
		  {{/each}}
	</script>
	<script type="text/javascript">
	$("#btnExport").hide();
	var productData = new Object();
	var arrImageData = [];
	var	form = $('#previewer');
	var cache_width = form.width();
	var a4 = [595.28, 841.89]; // for a4 size paper width and height
	//Preview function click 
	$("#btnPreview").click(function(e){
		//Create the data for object
		productData.name = $("#product_name").val();
		productData.description = $("#description").val();
		productData.price = $("#price").val();
		productData.isShowPrice = $('#' + "showPrice").is(":checked");
		var arrManipulatedImageData = [];
		for (var i = 0; i < arrImageData.length; i=i+2) {
			var objImages = new Object();
			objImages.image1 = arrImageData[i];
			if (i + 1 < arrImageData.length){
				objImages.image2 = arrImageData[i+1];
			}else{
				objImages.image2 = "";
			}
			arrManipulatedImageData.push(objImages);
		}

		productData.images = arrManipulatedImageData;
		//Load template file and render it 
		var template = Handlebars.compile($('#hidden-template').html());
		var result = template(productData);
		$("#previewer").html(result);
		$("#inputPage").hide();
		$("#btnExport").show()
		//Display for user and hide current page
	});

	$("#btnExport").click(function(e){
		  $('body').scrollTop(0);
  		  createPDF();
	})

	 //create pdf
	 function createPDF() {
	  getCanvas().then(function(canvas) {
	   var
	    img = canvas.toDataURL("image/png"),
	    doc = new jsPDF({
	     unit: 'px',
	     format: 'a4'
	    });
	   doc.addImage(img, 'JPEG', 20, 20);
	   doc.save($("#product_name").val() + '.pdf');
	   form.width(cache_width);
	  });
	 }

	 // create canvas object
	 function getCanvas() {
	  form.width((a4[0] * 1.33333) - 80).css('max-width', 'none');
	  return html2canvas(form, {
	   imageTimeout: 2000,
	   removeContainer: true
	  });
	 }


	function showImage(src,target) {
	  src.addEventListener("change",function() {
	    // fill fr with image data    
	    for (i = 0; i < src.files.length; i++){
		  var fr=new FileReader();
		  // when image is loaded, set the src of the image where you want to display it
		  fr.onload = function(e) { target.src = this.result;};
		  //load end then begin to resize this image;
		  fr.onloadend = function(e){
		  	dataObj = resizeImage(target);
		  	//load the result
		  	arrImageData.push(dataObj.data);
		  }
	    	fr.readAsDataURL(src.files[i]);
	    }
	    //fr.readAsDataURL(src.files[0]);
	  });
	}

	var src = document.getElementById("src");
	var target = document.createElement("img");
	showImage(src,target);
	//Use this function to resize image
	function resizeImage(img){
		var MAX_WIDTH = 300;
		var MAX_HEIGHT = 300;
		var width = img.width;
		var height = img.height;

		if (width > height) {
		  if (width > MAX_WIDTH) {
		    height *= MAX_WIDTH / width;
		    width = MAX_WIDTH;
		  }
		} else {
		  if (height > MAX_HEIGHT) {
		    width *= MAX_HEIGHT / height;
		    height = MAX_HEIGHT;
		  }
		}
		var returnObject = new Object();
		var canvas = document.createElement('canvas');
		canvas.width = width;
		canvas.height = height;
		var ctx = canvas.getContext("2d");
		ctx.drawImage(img, 0, 0, width, height);
		var dataurl = canvas.toDataURL("image/png");
		returnObject.width = width;
		returnObject.height = height;
		returnObject.data = dataurl;

		return returnObject;
	}
	</script>

  </body>

</html>
